<!DOCTYPE>
<html>
<head>
    <title>所有Products</title>
</head>
<style type="text/css">
    .list div {
        padding: 10px;
        margin-top: 10px;
        width: 200px;
        background-color: rgb(168, 168, 154);
    }

    .list div > li {
        list-style: none;

    }
</style>
<body>
<h1>商品列表</h1>
<ul class="list">
    {% for product in products %}
        <div>
            <p><a href="{{ path('acme_store_show',{'id': product.id }) }}">{{ loop.index }}</a></p>
            <li>Name:{{ product.name }}</a></li>
            <li>Price:{{ product.price }}</a></li>
            <li>
                <a href="{{ path('acme_store_edit',{'id': product.id}) }}">修改商品</a>
                <a href="{{ path('acme_store_delete',{'id': product.id}) }}">删除商品</a>
            </li>
        </div>
    {% endfor %}
</ul>
<p><a href="{{ path('acme_store_new') }}">添加商品</a></p>
</body>
</html>
